.container {
  font-size: 1.5rem;

  /*layout*/
  display: flex;
}


.column {
  padding: 20px;
  width: 50%;

  /*layout*/
  display: flex;
  flex-flow: column;
}

.product-list {
  background-color: tomato;
}

.shopping-cart {
  background-color: mediumseagreen;
}
